[Unit]
Description=Mount NFS Share
Requires=remote-fs.target network-online.target
After=remote-fs.target network-online.target

[Mount]
What={{ fuzzball_substrate_nfs_mount | regex_replace('%', '%%') }}
Where=/fuzzball/shared
Type=nfs
Options=defaults

[Install]
WantedBy=multi-user.target
