---

- name: Deploy a new RKE2 cluster
  hosts: "{{ ansible_limit | default(omit) }}"
  pre_tasks:
  - name: Install python3-kubernetes for Ansible to use
    ansible.builtin.package:
      name: python3-kubernetes
      state: present
  roles:
  - ciq.fuzzball.rke2
